# BandsinTown

![](images/bandsintown.png)

In [43]:
from bs4 import BeautifulSoup
import requests

In [101]:
url = 'https://www.bandsintown.com/en?came_from=257&sort_by_filter=Number+of+RSVPs'

In [102]:
response = requests.get(url)
soup = BeautifulSoup(response.text, 'html.parser')

In [103]:
events = soup.find('div', {'class': 'eventList-5e5f25ca'})

In [104]:
for i in events.div:
    print(i.div)

None
<div class="LazyLoad" style="height:70px;width:70px"></div>
<div class="event-ad736269">NOV</div>
<div class="event-a7d492f7"><div class="event-6891d84c">Irving Plaza</div><div class="event-c5863c62">New York, NY</div></div>
<div class="event-ad736269">NOV</div>
<div class="event-c3967c50">Tickets &amp; RSVP</div>

In [105]:
len(events)

2

In [106]:
events

<div class="eventList-5e5f25ca"><div class="event-0fe45b3b"><a class="event-52550c22" href="https://www.bandsintown.com/en/e/100147228-billie-eilish-at-irving-plaza?came_from=257&amp;utm_medium=web&amp;utm_source=home&amp;utm_campaign=event"></a><div class="event-49d18d61"><div class="LazyLoad" style="height:70px;width:70px"></div></div><div class="event-02e85563"><div class="event-ad736269">NOV</div><div class="event-d7a00339">03</div></div><div class="event-38a9a08e"><h2 class="event-5daafce9"><a href="https://www.bandsintown.com/en/a/12895856-billie-eilish?came_from=257&amp;utm_medium=web&amp;utm_source=home&amp;utm_campaign=event">Billie Eilish</a></h2><div class="event-a7d492f7"><div class="event-6891d84c">Irving Plaza</div><div class="event-c5863c62">New York, NY</div></div></div><div class="event-b58f7990"><div class="event-ad736269">NOV</div><div class="event-d7a00339">03</div></div><div class="event-47ded5a8"><div class="event-c3967c50">Tickets &amp; RSVP</div></div></div><hr class="eventList-7057111c"/></div>

In [107]:
soup.find('div', {'class': 'event-02e85563'})

In [108]:
soup.find('div', {'class': 'event-02e85563'}).div

In [109]:
soup.find('div', {'class': 'event-02e85563'}).find_all('div')

In [110]:
for i in soup.find('div', {'class': 'event-02e85563'}).find_all('div'):
    print(i.text)

NOV
03

In [111]:
soup.find('div', {'class': 'event-38a9a08e'})

<div class="event-38a9a08e"><h2 class="event-5daafce9"><a href="https://www.bandsintown.com/en/a/12895856-billie-eilish?came_from=257&amp;utm_medium=web&amp;utm_source=home&amp;utm_campaign=event">Billie Eilish</a></h2><div class="event-a7d492f7"><div class="event-6891d84c">Irving Plaza</div><div class="event-c5863c62">New York, NY</div></div></div>

In [112]:
soup.find('div', {'class': 'event-38a9a08e'}).h2.text

'Billie Eilish'

In [113]:
soup.find('div', {'class': 'event-a7d492f7'}).find_all('div')

[<div class="event-6891d84c">Irving Plaza</div>,
 <div class="event-c5863c62">New York, NY</div>]

In [114]:
for i in soup.find('div', {'class': 'event-a7d492f7'}).find_all('div'):
    print(i.text)

Irving Plaza
New York, NY

In [115]:
dates = soup.find_all('div', {'class': 'event-02e85563'})

In [116]:
month = []
day = []
for i in dates:
    md = i.find_all('div')
    month.append(md[0].text)
    day.append(md[1].text)

In [117]:
month

['NOV',
 'OCT',
 'NOV',
 'OCT',
 'OCT',
 'AUG',
 'JAN',
 'OCT',
 'DEC',
 'AUG',
 'OCT',
 'SEP',
 'SEP',
 'SEP',
 'OCT',
 'OCT',
 'OCT',
 'APR']

In [118]:
day

['03',
 '14',
 '07',
 '01',
 '09',
 '24',
 '18',
 '06',
 '29',
 '10',
 '13',
 '29',
 '29',
 '29',
 '09',
 '13',
 '15',
 '05']

In [119]:
artists = soup.find_all('div', {'class': 'event-38a9a08e'})

In [120]:
art = []
for artist in artists:
    art.append(artist.h2.text)

In [121]:
art

['Billie Eilish',
 'Maroon 5',
 'Queen Naija',
 'J.Cole',
 'Florence and The Machine',
 'Shawn Mendes',
 'Panic! At The Disco',
 'Maroon 5',
 'Post Malone',
 'Shawn Mendes',
 'Gorillaz',
 'Shawn Mendes',
 'The Weeknd',
 'The National',
 'Troye Sivan',
 'Nine Inch Nails',
 'Maroon 5',
 "Why Don't We"]

In [122]:
venue = []
city = []
v = soup.find_all('div', {'class': 'event-a7d492f7'})
for entry in v:
    l = entry.find_all('div')
    venue.append(l[0].text)
    city.append(l[1].text)

In [123]:
df = pd.DataFrame({'Month': month, 'Day': day, 'Artist': art, 'Venue': venue, 'City': city})

In [124]:
df.head()

                     Artist          City Day Month                  Venue
0             Billie Eilish  New York, NY  03   NOV           Irving Plaza
1                  Maroon 5  New York, NY  14   OCT  Madison Square Garden
2               Queen Naija  New York, NY  07   NOV        Sound Of Brazil
3                    J.Cole  New York, NY  01   OCT  Madison Square Garden
4  Florence and The Machine  Brooklyn, NY  09   OCT        Barclays Center